<?xml version="1.0"?>
<robot name="seer_aubo_composite" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find seer_description)/urdf/seer_robot_base.urdf.xacro" />

  <xacro:include filename="$(find seer_description)/urdf/aubo_i16.urdf" />

  <joint name="arm_mount_joint" type="fixed">
    <parent link="base_link" />
    <child link="aubo_base_link" />

    <origin xyz="-0.3 0.0 0.6" rpy="0 0 ${pi}" />
  </joint>

  <ros2_control name="GazeboSimSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>

    <xacro:macro name="aubo_joint_interface" params="joint_name">
      <joint name="${joint_name}">
        <command_interface name="position">
          <param name="min">-6.28</param>
          <param name="max">6.28</param>
        </command_interface>
        <state_interface name="position" />
        <state_interface name="velocity" />
        <state_interface name="effort" />
      </joint>
    </xacro:macro>

    <xacro:aubo_joint_interface joint_name="shoulder_joint" />
    <xacro:aubo_joint_interface joint_name="upperArm_joint" />
    <xacro:aubo_joint_interface joint_name="foreArm_joint" />
    <xacro:aubo_joint_interface joint_name="wrist1_joint" />
    <xacro:aubo_joint_interface joint_name="wrist2_joint" />
    <xacro:aubo_joint_interface joint_name="wrist3_joint" />
  </ros2_control>

  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find seer_description)/config/aubo_controllers.yaml</parameters>
    </plugin>
  </gazebo>

  <xacro:include filename="$(find orbbec_description)/urdf/gemini335L_336L.urdf.xacro" />

  <joint name="camera_joint" type="fixed">
    <parent link="wrist3_Link" />
    <child link="camera_link" />
    <origin xyz="0.03 0.03 0.02" rpy="0 0 0" />
  </joint>
</robot>